.permissions-list {
  margin-bottom: 50px;
  h5 {
    font-size: 25px;
    font-weight: bold;
  }
 
  label {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
}
.permissions-title{
    color: #C7C7C7;
}
