.single-order {
  margin-top: 50px;
}
.client-box {
  border-radius: 15px;
  border: 1px solid #707070;
  padding: 25px;
  height: 100%;
  h5 {
    font-weight: bold;
    margin-bottom: 25px;
    color: #444444;

    span {
      margin-left: 15px;
      font-weight: bold;
    }
  }
}

.client-info {
  padding: 10px;
  list-style: none;
  color: #444444;
  border-bottom: 1px solid #c2c2c2;
  margin: 0;
  li {
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.status {
  p {
    display: inline-block;
    margin-bottom: 0ch;
  }
  .successful {
    color: #1c6a00;
    margin-left: 20px;
  }
  .cancel {
    color: #f90101;
  }
}
.store-note {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #707070;
  padding: 5px 10px;
}
.store-box {
  height: 100%;
  font-size: 14px;
  border-radius: 26px;
  .store-info {
    list-style: none;
    padding: 0;
    li {
      line-height: 30px;

      // display: inline-block;
      width: 48%;
      i {
        width: 20px;
        margin-left: 5px;
      }
    }
  }
}

.pilot-list {
  list-style: none;
  padding: 10px;
  border-bottom: 1px solid #707070;
  margin: 0;
  li {
    display: inline-block;
    padding-bottom: 0;
    .active {
      background-color: #00488f;
      color: #fedd12;
    }

    a {
      display: inline-block;
      background: #c4d4e5;
      padding: 0 10px;
      line-height: 30px;
      font-weight: bold;
      border-radius: 6px;
      margin-left: 2px;
    }
  }
}

.pilot-btns {
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  .btn-main {
    height: 30px;
    padding: 0 25px;
    line-height: 20px;
    font-weight: bold;
    font-size: 11px;
    background-color: #00488f;
    border-radius: 6px;
    border-color: #00488f;
    margin-bottom: 0;
    color: #ffffff;
    margin-left: 0;
    outline: 0;
    border: 0;
    cursor: pointer;
  }
}
.btn-print {
  height: 40px;
  padding: 0 10px;
  line-height: 20px;
  font-size: 15px;
  background-color: #00488f;
  border-radius: 14px;
  border-color: #00488f;
  margin-left: 10px;
}
.order-time {
  border: 1px solid #c2c2c2;
  padding: 30px;
  margin-bottom: 40px;
  color: #00488f;
  text-align: center;
  border-radius: 15px;
  h5 {
    font-size: 28px;
    font-weight: bold;
  }

  .actual-time {
    display: inline-block;
    margin-bottom: 20px;
  }
  .delay-time {
    color: #f80d0d;
  }
  .distance-calcul {
    font-size: 18px;
    font-weight: bold;
  }
  i {
    color: #00488f;
    font-size: 20px;
    margin-left: 10px;
  }
}
.options-btns {
  margin-top: 60px;
}
.btn-primary.btn-shadow {
  margin-bottom: 20px;
  // width: 48%;
  line-height: 45px;
  font-weight: bold;
  border-radius: 14px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(194, 194, 194, 0.2);

  background: #ffffff;
  border: none;
  color: #00488f;
}
.order-table {
  color: #034a90;
  border: 1px solid #c2c2c2;
  border-collapse: collapse;
  border-radius: 15px;
  border-style: hidden;
  box-shadow: 0 0 0 1px #c2c2c2;
  td,
  th {
    border: 0;
    border-left: 1px solid #c2c2c2;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
  }
  thead {
    tr {
      border-bottom: 1px solid #c2c2c2;
    }
    th {
      font-size: 18px;
      font-weight: bold;
      text-align: center;
      border-bottom: 0;
    }
  }
  tbody {
    td {
      font-size: 18px;
      text-align: center;
      border-top: 0;
      padding: 15px;
      vertical-align: middle;
    }
  }

  tfoot {
    border-top: 2px solid #dee2e6;
    border-radius: 0 15px 0 15px;

    tr {
      background-color: #f8f8f8;
    }
    td {
      font-size: 18px;
      font-weight: bold;
      line-height: 20px;
      padding: 30px 0;
      border-left: 1px solid #c2c2c2;
      p {
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: bold;
      }
    }

    .frist-column {
      border-bottom-right-radius: 15px;
    }
    .last-column {
      border-bottom-left-radius: 15px;
    }
  }
}
.client-box-laptop{
  display: none;
}
.works-status {
  background-color: #efefef;
  height: 40px;
  border-radius: 10px;
  display: block;
  line-height: 40px;
  font-size: 20px;
  color: #00488f;
  width: 60px;
  margin: auto;
  &:hover {
    text-decoration: none;
  }
}
.works-status-lg {
  width: 100px;
}

.accordion {
  .card-header {
    background-color: #f8f8f8;
    border-radius: 15px;
    border-bottom: 0;
  }
  .btn-link {
    font-size: 25px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border: 0;
    text-align: left;
    &:not(.collapsed) .rotate-icon {
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
}
    &:focus {
      outline: 0;
    }

    .fas {
      color: #000000;
      margin-left: 30px;
    }
  }

  .card {
    border: 0;
    margin-bottom: 30px;
  }
  h2 {
    margin-top: 0;
  }
}

.status-btn {
  display: flex;
  max-width: 686px;
  margin-left: auto;
  .btn-primary.btn-shadow {
    margin-right: 50px;
  }
}
.btn-reject {
  color: red !important;
}
.options-btns-laptop{
  display: none;
}

