.main-sidebar {
  position: fixed;
  // display: none;
  top: 0;
  left:  0;
  height: 100vh;
  padding: 15px;
  background-color: #00488f;
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: 99999;
  transition: 0.4s;
  width: 100px;
  &:hover {
    width: 300px;
  }
}

.slider-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  //   scrollbar-width: none; /* For mozilla */
}
.title-name {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  margin-left: 50px;
  width: 100px;
  text-align: left;
  &:hover {
    opacity: 1;
  }
}

.icons-list {
  display: grid;
  padding: 0;
  row-gap: 0.3rem;
  li {
    // padding: 0 10px;
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
      line-height: 40px;
      .fas {
        color: #ffffff;
        font-size: 16px;
        padding-right: 15px;
      }
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.dropdown-submenu > .dropdown-menu {
  left: 100%;
  margin: 0;
  height: 100vh;
  width: 216px;
  position: absolute;
  min-width: 220px;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  border: 0;
  top: 0;
  list-style: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

  li {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0;
    a {
      width: 100%;
      display: inline-block;
      font-size: 20px;
      height: 50px;
      vertical-align: middle;
    }
    &.active {
      background: #fedd12;
      box-shadow: 0px 0px 10px rgba(254, 221, 18, 0.3);
      a {
        color: #003566;
      }
    }
    &:hover {
      cursor: pointer;
      background: #fedd12;
      box-shadow: 0px 0px 10px rgba(254, 221, 18, 0.3);

      a {
        color: #003566;
      }
    }
  }
  h5 {
    color: #003566;
    font-size: 30px;
    font-weight: bold;
    margin: 80px 0 50px 0;
  }
}
.dropdown-submenu:hover > .dropdown-menu {
  display: none;
}

//mobile
.sliedbar-show {
  display: none;
}
.slidebar-mobile {
  position: fixed;
  background-color: #00488f;
  top: 0px;
  left: auto;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 220px;
  -webkit-transform: translateX(220px);
  -moz-transform: translateX(220px);
  -ms-transform: translateX(220px);
  -o-transform: translateX(220px);
  transform: translateX(220px);

  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  z-index: 999999;
  overflow-y: auto;
  .logo-slide {
    text-align: center;
    margin: 40px;
  }
}

.slidebar-mobile.is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

#wrapper {
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
  position: fixed;
  top: 38px;
  right: 10px;
  z-index: 999999;
}

.is-obscured {
  -webkit-transform: translateX(-220px);
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -o-transform: translateX(-220px);
  transform: translateX(-220px);
}

.overlay-slide {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  opacity: 0;
  background: black;
  visibility: hidden;
  z-index: 999998;
}

.overlay-slide.is-visible {
  opacity: 0.4;
  visibility: visible;
}
.sidebar-lists {
  overflow: hidden;
  padding: 0;
  ul {
    display: none;
    padding: 0;
    background-color: #f6f6f6;
    list-style: none;
    li {
      border-bottom: solid thin #eee;
      a {
        &:after {
          display: none;
        }
      }
    }
  }
  li {
    border-top: thin solid #ccc;
    position: relative;
  }
  a {
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    display: block;
    padding: 20px 0;
    color: #999;
    text-decoration: none;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    text-decoration: none;
    text-align: center;
    &:hover {
      // background: #eee;
      color: #999;
    }
    .fas {
      color: #ffffff;
      font-size: 20px;
      margin-left: 10px;
    }
    .title-name {
      margin: 0;
    }
  }
}
// .dropmenu:after {
//   font-family: "FontAwesome";
//   font-size: 20px;
//   content: "\f0d7";
//   vertical-align: middle;
//   float: right;
//   padding: 0 10px;
//   transition: all 0.3s ease;
//   color: #ffffff;
// }
// .openmenu:after {
//   -ms-transform: rotate(180deg);
//   -webkit-transform: rotate(180deg);
//   transform: rotate(180deg);
// }
