{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %} {% include
"templates/components/sidebar.njk" %}
<div class="main-content">
  <a class="link-add" href=""> إضافة مدينة </a>
  <table class="table order-table table-responsive-md">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">المحافظة</th>
        <th scope="col">الدولة</th>
        <th scope="col">المدن</th>
        <th scope="col">المناطق</th>
        <th scope="col">المتاجر</th>
        <th scope="col">شحن</th>
        <th scope="col">تفعيل الشحن</th>
        <th scope="col">تفعيل الطلب</th>
        <th scope="col">اعدادات</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">30</th>
        <td>القاهرة</td>
        <td>مصر</td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td><a class="link-additions" href="#">1</a></td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td>20</td>

        <td>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <a href=""><i class="fas fa-cogs"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">30</th>
        <td>القاهرة</td>
        <td>مصر</td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td><a class="link-additions" href="#">1</a></td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td>20</td>

        <td>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <a href=""><i class="fas fa-cogs"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">30</th>
        <td>القاهرة</td>
        <td>مصر</td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td><a class="link-additions" href="#">1</a></td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td>20</td>

        <td>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <a href=""><i class="fas fa-cogs"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">30</th>
        <td>القاهرة</td>
        <td>مصر</td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td><a class="link-additions" href="#">1</a></td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td>20</td>

        <td>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <a href=""><i class="fas fa-cogs"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">30</th>
        <td>القاهرة</td>
        <td>مصر</td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td><a class="link-additions" href="#">1</a></td>
        <td>
          <a class="link-additions" href="#">1</a>
        </td>
        <td>20</td>

        <td>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <label class="switch">
            <input type="checkbox" />
            <span class="slider round"></span>
          </label>
        </td>
        <td>
          <a href=""><i class="fas fa-cogs"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
