{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %} {% include
"templates/components/sidebar.njk" %}

<div class="main-content">
  <div class="chat-page">
    <div class="chat-slider">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="بحث" />
            <span class="icon-search"> <i class="fas fa-search"></i> </span>
          </div>

          <ul class="messengers-list">
            <li class="active">
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>

            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
            <li>
              <a href="#">
                <div class="image-box">
                  <img src=" assets/images/image-flyer.png" alt="" />
                </div>
                <div class="sender-info">
                  <p class="sender-name">محمد احمد</p>
                  <p class="messages-content">السلام عليكم</p>
                </div>
                <div class="text-center">
                  <span class="time-messages"> 12:30AM</span>

                  <p class="number-messages">3</p>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <div class="chat-box">
            <div class="chat-content">
              <div class="chat-header">
                <div class="header-description">
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>

                  <div class="chat-status">
                    <p>محمد احمد</p>
                    <p class="activity-status">نشط الأن</p>
                  </div>
                </div>
                <div class="chat-controls">
                  <a href="#"
                    ><img src="assets/images/search-icon.svg" alt=""
                  /></a>

                  <a href="#"
                    ><img src="assets/images/setting-icon.svg" alt=""
                  /></a>
                </div>
              </div>
              <div class="chat-body">
                <div class="sender">
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                  <div class="message-text">يوجد في الطلب</div>
                </div>
                <div class="recipient">
                  <div class="message-text">
                    أهلاً بك , محمد يمكننا مساعدتك ؟
                  </div>
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                </div>
                <div class="sender">
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                  <div class="message-text">
                    حدث خطأ أثناء طلبي لخدمه توصيل وأريد استبدالها
                  </div>
                </div>
                <div class="recipient">
                  <div class="message-text">متى كان وقت طلبك للخدمة ؟</div>
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                </div>
                <div class="sender">
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                  <div class="message-text">أمس في الساعه 12 ظهرا</div>
                </div>
                <div class="recipient">
                  <div class="message-text">
                    حدث خطأ أثناء طلبي لخدمه توصيل وأريد استبدالها
                  </div>
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                </div>
                <div class="sender">
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                  <div class="message-text">أمس في الساعه 12 ظهرا</div>
                </div>
                <div class="recipient">
                  <div class="message-text">
                    حدث خطأ أثناء طلبي لخدمه توصيل وأريد استبدالها
                  </div>
                  <div class="image-box">
                    <img src=" assets/images/image-flyer.png" alt="" />
                  </div>
                </div>
              </div>
              <div class="chat-footer">
                <div class="chat-input-holder">
                  <textarea
                    class="chat-input"
                    placeholder="اكتب رسالة"
                  ></textarea>
                  <a href=""><i class="fas fa-camera"></i></a>

                  <button type="submit" class="message-send">
                    <i class="fas fa-paper-plane"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
