{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %} {% include
"templates/components/sidebar.njk" %}
<div class="main-content">
  <div class="order-infro mt-5">
    <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
      <li class="nav-item">
        <a
          class="nav-link active"
          id="tab-13"
          data-toggle="tab"
          href="#content-13"
          role="tab"
          aria-controls="content-13"
          aria-selected="true"
        >
          بيانات المحل
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-14"
          data-toggle="tab"
          href="#content-14"
          role="tab"
          aria-controls="content-14"
          aria-selected="true"
        >
          منتجات المحل
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          id="tab-15"
          data-toggle="tab"
          href="#content-15"
          role="tab"
          aria-controls="content-15"
          aria-selected="true"
        >
          تعديل البيانات
        </a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">
    <div
      class="tab-pane fade show active"
      id="content-13"
      role="tabpane-13"
      aria-lab
      elledby="tab-13"
    >
      <div class="row">
        <div class="col-md-3">
          <div class="shop-box">
            <div class="shop-statue">
              <h6>المحل</h6>
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
              </label>
            </div>
            <ul class="shop-list">
              <li>الاسم : <span> أبو عوف للمواد الغذائية</span></li>
              <li>النوع : <span>المطاعم </span></li>
              <li>القسم الرئيسي : <span> مشويات - لحوم - أخرى</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="shop-box">
            <div class="shop-statue">
              <h6>حالة العمل</h6>
            </div>
            <div class="checks-radio shop-checks">
              <form action="#">
                <div class="form-group">
                  <div class="form__radio-group">
                    <input
                      type="radio"
                      name="size"
                      id="check-1"
                      class="form__radio-input"
                      checked
                    />
                    <label
                      class="form__label-radio"
                      for="check-1"
                      class="form__radio-label"
                    >
                      <span class="form__radio-button"></span> يعمل
                    </label>
                  </div>
                  <div class="form__radio-group">
                    <input
                      type="radio"
                      name="size"
                      id="check-2"
                      class="form__radio-input"
                    />
                    <label
                      class="form__label-radio"
                      for="check-2"
                      class="form__radio-label"
                    >
                      <span class="form__radio-button"></span> مشغول
                    </label>
                  </div>
                  <div class="form__radio-group">
                    <input
                      type="radio"
                      name="size"
                      id="check-5"
                      class="form__radio-input"
                    />
                    <label
                      class="form__label-radio"
                      for="check-5"
                      class="form__radio-label"
                    >
                      <span class="form__radio-button"></span> مغلق
                    </label>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="shop-box">
            <div class="shop-statue">
              <h6>وسائل الدفع المتاحة</h6>
            </div>
            <div class="checks-radio mb-4">
              <form action="#">
                <div class="form-group">
                  <div class="form__radio-group">
                    <input
                      type="radio"
                      name="size"
                      id="check-3"
                      class="form__radio-input"
                    />
                    <label
                      class="form__label-radio"
                      for="check-3"
                      class="form__radio-label"
                    >
                      <span class="form__radio-button"></span> كاش
                    </label>
                  </div>
                  <div class="form__radio-group">
                    <input
                      type="radio"
                      name="size"
                      id="check-4"
                      class="form__radio-input"
                      checked
                    />
                    <label
                      class="form__label-radio"
                      for="check-4"
                      class="form__radio-label"
                    >
                      <span class="form__radio-button"></span> فيزا
                    </label>
                  </div>
                </div>
              </form>
            </div>

            <div class="form-group">
              <input
                type="text"
                class="form-control"
                placeholder="أقصي مبلغ مقبول كاش"
              />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="shop-box">
            <div class="shop-statue">
              <h6>المالية</h6>
            </div>
            <div class="checkbox mb-3">
              <input type="checkbox" id="ch1" checked="checked" />
              <label for=""> نسبة علي كل منتج</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="ch2" />
              <label for="">رسوم الخدمة </label>
            </div>
          </div>
        </div>
      </div>
      <table class="table order-table table-responsive-md mt-5">
        <thead>
          <tr>
            <th scope="col">كود الصنف</th>
            <th scope="col">اسم الصنف</th>
            <th scope="col">الوصف</th>
            <th scope="col">الوحدة</th>
            <th scope="col">الوزن</th>
            <th scope="col">السعر</th>
            <th scope="col">صورة المنتج</th>
            <th scope="col">الأقسام</th>
            <th scope="col">عدد الاستخدام</th>
            <th scope="col">عدد مرات البيع</th>
            <th scope="col">التوافر</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="row">#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <th scope="row">#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <th>#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <th>#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <th>#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <th>#3542225</th>
            <td>كشرى التحرير</td>
            <td>علبه كشرى وسط</td>
            <td>علبة</td>
            <td>1</td>
            <td>15.75</td>
            <td>
              <img
                class="time"
                src=" assets/images/image-proudct.png"
                alt=""
                srcset=""
              />
            </td>
            <td>17</td>
            <td>30</td>
            <td>مطاعم</td>
            <td>
              <label class="switch">
                <input type="checkbox" checked />
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div
      class="tab-pane fade show"
      id="content-14"
      role="tabpane-14"
      aria-lab
      elledby="tab-14"
    >
      <div class="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block "
                type="button"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                <i class="fas fa-caret-right rotate-icon"></i>
                التصنيفات
              </button>
            </h2>
          </div>

          <div
            id="collapseOne"
            class="collapse show"
            aria-labelledby="headingOne"
            data-parent="#accordionExample"
          >
            <div class="card-body">
              <div class="additions">
                <div class="proudcts-section">
                  <div class="addition-buttons">
                    <form action="" class="repeater">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-9">
                              <!-- <div class="row">
                                <div class="col-md-4"> <div class="form-group">
                                  <label> اسم القسم </label>
                                  <input type="text" class="form-control" />
                                </div></div>
                                <div class="col-md-4"> <div class="form-group">
                                  <label> اسم القسم </label>
                                  <input type="text" class="form-control" />
                                </div></div>
                                <div class="col-md-4"> <div class="form-group">
                                  <label> اسم القسم </label>
                                  <input type="text" class="form-control" />
                                </div></div>
                              </div> -->
                              <div
                                data-repeater-list="outer-group"
                                class="outer row"
                              >
                                <div data-repeater-item class="outer col-md-4">
                                  <div class="form-group">
                                    <label> اسم القسم </label>
                                    <input type="text" class="form-control" />
                                  </div>
                                  <button
                                    data-repeater-delete
                                    type="button"
                                    class="btn-delete"
                                  >
                                    <i class="fas fa-times"></i>
                                  </button>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <button
                                data-repeater-create
                                type="button"
                                class="btn-great btn-block"
                              >
                                <i class="fas fa-plus"></i>
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="order-infro mt-5">
                <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="tab-16"
                      data-toggle="tab"
                      href="#content-16"
                      role="tab"
                      aria-controls="content-16"
                      aria-selected="true"
                    >
                      منتج
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="tab-17"
                      data-toggle="tab"
                      href="#content-17"
                      role="tab"
                      aria-controls="content-17"
                      aria-selected="true"
                    >
                      عروض
                    </a>
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="tab-15"
                      data-toggle="tab"
                      href="#content-18"
                      role="tab"
                      aria-controls="content-18"
                      aria-selected="true"
                    >
                      إضافات
                    </a>
                  </li>
                </ul>
              </div>
              <div class="tab-content" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="content-16"
                  role="tabpane-16"
                  aria-lab
                  elledby="tab-16"
                >
                  <ul class="types-food">
                    <li><a class="active" href="#">مشويات</a></li>
                    <li><a href="#">مخللات</a></li>
                    <li><a href="#">مشروبات</a></li>
                    <li><a href="#">حلا</a></li>
                  </ul>
                  <table class="table order-table table-responsive-sm mt-5">
                    <thead>
                      <tr>
                        <th scope="col">كود الصنف</th>
                        <th scope="col">اسم الصنف</th>
                        <th scope="col">الوصف</th>
                        <th scope="col">الوحدة</th>
                        <th scope="col">الوزن</th>
                        <th scope="col">السعر</th>
                        <th scope="col">صورة المنتج</th>
                        <th scope="col">الإضافات</th>
                        <th scope="col">التوافر</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">#3542225</th>
                        <td>كشرى التحرير</td>
                        <td>علبه كشرى وسط</td>
                        <td>علبة</td>
                        <td>1</td>
                        <td>15.75</td>
                        <td>
                          <img
                            class="time"
                            src=" assets/images/image-proudct.png"
                            alt=""
                            srcset=""
                          />
                        </td>
                        <td>
                          <a href=""><i class="fas fa-cogs"></i></a>
                        </td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" checked />
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#3542225</th>
                        <td>كشرى التحرير</td>
                        <td>علبه كشرى وسط</td>
                        <td>علبة</td>
                        <td>1</td>
                        <td>15.75</td>
                        <td>
                          <img
                            class="time"
                            src=" assets/images/image-proudct.png"
                            alt=""
                            srcset=""
                          />
                        </td>
                        <td>
                          <a href=""><i class="fas fa-cogs"></i></a>
                        </td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <th scope="row">#3542225</th>
                        <td>كشرى التحرير</td>
                        <td>علبه كشرى وسط</td>
                        <td>علبة</td>
                        <td>1</td>
                        <td>15.75</td>
                        <td>
                          <img
                            class="time"
                            src=" assets/images/image-proudct.png"
                            alt=""
                            srcset=""
                          />
                        </td>
                        <td>
                          <a href=""><i class="fas fa-cogs"></i></a>
                        </td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" checked />
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                      <tr>
                        <th>#3542225</th>
                        <td>كشرى التحرير</td>
                        <td>علبه كشرى وسط</td>
                        <td>علبة</td>
                        <td>1</td>
                        <td>15.75</td>
                        <td>
                          <img
                            class="time"
                            src=" assets/images/image-proudct.png"
                            alt=""
                          />
                        </td>
                        <td>
                          <a href=""><i class="fas fa-cogs"></i></a>
                        </td>
                        <td>
                          <label class="switch">
                            <input type="checkbox" />
                            <span class="slider round"></span>
                          </label>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div
                  class="tab-pane fade show"
                  id="content-17"
                  role="tabpane-17"
                  aria-lab
                  elledby="tab-14"
                >
                  .....
                </div>
                <div
                  class="tab-pane fade show"
                  id="content-18"
                  role="tabpane-18"
                  aria-lab
                  elledby="tab-18"
                >
                  ....
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="tab-pane fade show"
      id="content-15"
      role="tabpane-15"
      aria-lab
      elledby="tab-15"
    >
      <div class="edit-data">
        <div class="data-details">
          <h3 class="main-title">بيانات المحل</h3>

          <div class="row">
            <div class="col-lg-9 col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label> اسم المالك </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> اسم المحل </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> الترتيب </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> واتساب </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> رقم الفرع </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> تكلفة التوصيل </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label> هاتف المالك </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> هاتف المحل </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> النشاط </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> رابط الفيسبوك </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                  <div class="form-group">
                    <label> سجل تجاري </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>

                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> وقت التحضير </label>
                        <input type="text" class="mb-4 form-control" />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label> وقت التحضير </label>
                        <input type="text" class="mb-4 form-control" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <h3 class="title-image">صورة المحل</h3>

                  <div class="choose-image choose-image-xl">
                    <div class="picture">
                      <img
                        src="assets/images/tyler-nix-PQeoQdkU9jQ-1024x1024.jpg"
                        class="picture-src"
                      />
                    </div>
                    <div class="select-image">
                      <p>لتحميل الصورة اضغط هنا</p>
                      <span class="camera-icon">
                        <i class="fas fa-camera"></i>
                      </span>
                    </div>
                  </div>
                  <h3 class="title-image">صورة الغلاف</h3>

                  <div class="choose-image choose-image-xl">
                    <div class="picture">
                      <img
                        src="assets/images/tyler-nix-PQeoQdkU9jQ-1024x1024.jpg"
                        class="picture-src"
                      />
                    </div>
                    <div class="select-image">
                      <p>لتحميل الصورة اضغط هنا</p>
                      <span class="camera-icon">
                        <i class="fas fa-camera"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="phone">
                <div class="phone-style">
                  <div class="bg-head-phone">
                    <img
                      class="time"
                      src=" assets/images/time-network.png"
                      alt=""
                      srcset=""
                    />
                    <div class="image-chicken">
                      <img
                        src="assets/images/chicken-img.png"
                        alt=""
                        srcset=""
                      />
                    </div>
                    <div class="logo-resturant">
                      <img
                        src="assets/images/brand-logo.png"
                        alt=""
                        srcset=""
                      />
                      <p>مطعم باب الحارة</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <button type="submit" class="btn-search">حفظ</button>
          </div>
        </div>
        <div class="data-details">
          <h3 class="main-title">بيانات المستخدم</h3>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label> اسم المستخدم </label>
                <input type="text" class="mb-4 form-control" />
              </div>
              <ul class="list-checkbox border-left-0 h-0">
                <li class="checkbox">
                  <input type="checkbox" id="ch1" />
                  <label for="">
                    ارسال اسم المستخدم وكلمة المرور في رسالة نصية</label
                  >
                </li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label> الرقم السري </label>
                <input type="text" class="mb-4 form-control" />
              </div>
            </div>
            <button type="submit" class="btn-search">حفظ</button>
          </div>
        </div>
        <div class="data-details">
          <h3 class="main-title">الموقع</h3>

          <div class="row">
            <div class="col-md-6">
              <div class="shop-infro">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label> المحافظة </label>
                      <select class="form-control">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label> المحافظة </label>
                      <select class="form-control">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label> المحافظة </label>
                      <select class="form-control">
                        <option></option>
                        <option></option>
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="rating-customer">
                      <h2>تقيم العملاء</h2>
                      <div class="rating">
                        <img
                          class="time"
                          src=" assets/images/rating.png"
                          alt=""
                          srcset=""
                        />

                        <div class="rating-value">
                          <span>+0,5%</span>
                          <span><i class="fas fa-sort-up"></i></span>
                          <p>3.5</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="mapouter">
                <div class="gmap_canvas">
                  <iframe
                    id="gmap_canvas"
                    src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                    scrolling="no"
                    marginheight="0"
                    marginwidth="0"
                    width="100%"
                    height="300px"
                    frameborder="0"
                  ></iframe>
                  <a href="https://getasearch.com/nordvpn-coupon/"></a><br />
                  <style>
                    .mapouter {
                      position: relative;
                      text-align: right;
                      height: 300px;
                      width: 100%;
                      border-radius: 13px;
                      margin-bottom: 20px;
                    }
                  </style>
                  <a href="https://www.embedgooglemap.net"
                    >embedgooglemap.net</a
                  >
                  <style>
                    .gmap_canvas {
                      overflow: hidden;
                      background: none !important;
                      height: 300px;
                      width: 100%;
                      border-radius: 13px;
                    }
                  </style>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label> خط الطول </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label> خط العرض </label>
                    <input type="text" class="mb-4 form-control" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn-search">حفظ</button>
        </div>
        <div class="data-details">
          <h3 class="main-title">مواضع الظهور</h3>

          <div class="appearances">
            <div class="form-group">
              <label> اسم المحل </label>
              <select class="form-control">
                <option></option>
                <option></option>
                <option></option>
                <option></option>
              </select>
            </div>
            <div class="row">
              <div class="col-md-4">
                <ul class="list-checkbox">
                  <li class="checkbox">
                    <input type="checkbox" name="ch1" id="ch1" value="1" />
                    <label for="ch1"> المطاعم </label>
                  </li>
                </ul>
                <div class="form-group m-0">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <ul class="list-checkbox">
                  <li class="checkbox">
                    <input type="checkbox" name="ch1" id="ch1" value="1" />
                    <label for="ch1"> المطاعم </label>
                  </li>
                </ul>
                <div class="form-group m-0">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <ul class="list-checkbox">
                  <li class="checkbox">
                    <input type="checkbox" name="ch1" id="ch1" value="1" />
                    <label for="ch1"> المطاعم </label>
                  </li>
                </ul>
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <ul class="list-checkbox">
                  <li class="checkbox">
                    <input type="checkbox" name="ch1" id="ch1" value="1" />
                    <label for="ch1"> المطاعم </label>
                  </li>
                </ul>
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <ul class="list-checkbox">
                  <li class="checkbox">
                    <input type="checkbox" name="ch1" id="ch1" value="1" />
                    <label for="ch1"> الصيدليات </label>
                  </li>
                </ul>
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-4">
                <ul class="list-checkbox">
                  <li class="checkbox">
                    <input type="checkbox" name="ch1" id="ch1" value="1" />
                    <label for="ch1"> خضروات وفاكهه </label>
                  </li>
                </ul>
                <div class="form-group">
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn-search">حفظ</button>
        </div>
        <div class="data-details">
          <h3 class="main-title">بيانات أخري</h3>
          <div class="work-status">
            <div class="checks-radio">
              <h3 class="title-image mb-3">المحل لدية خدمة توصيل ؟</h3>

              <div class="form-group">
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-a"
                    id="group-a-01"
                    class="form__radio-input"
                    checked
                  />
                  <label class="form__label-radio" for="group-a-01">
                    <span class="form__radio-button"></span> نعم
                  </label>
                </div>
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-a"
                    id="group-a-02"
                    class="form__radio-input"
                  />
                  <label class="form__label-radio" for="group-a-02">
                    <span class="form__radio-button"></span> لا
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="work-status">
            <div class="checks-radio">
              <h3 class="title-image mb-3">
                المحل متعاقد مع تطبيقات التوصيل الأخرى ؟
              </h3>

              <div class="form-group">
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-b"
                    id="group-b-01"
                    class="form__radio-input"
                    checked
                  />
                  <label class="form__label-radio" for="group-b-01">
                    <span class="form__radio-button"></span> نعم
                  </label>
                </div>
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-b"
                    id="group-b-02"
                    class="form__radio-input"
                  />
                  <label class="form__label-radio" for="group-b-02">
                    <span class="form__radio-button"></span> لا
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="work-status">
            <div class="checks-radio">
              <h3 class="title-image mb-3">حالة المحل ؟</h3>

              <div class="form-group">
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-c"
                    id="group-c-01"
                    class="form__radio-input"
                    checked
                  />
                  <label class="form__label-radio" for="group-c-01">
                    <span class="form__radio-button"></span> مشغول
                  </label>
                </div>
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-c"
                    id="group-c-02"
                    class="form__radio-input"
                  />
                  <label class="form__label-radio" for="group-c-02">
                    <span class="form__radio-button"></span> يعمل
                  </label>
                </div>
              </div>
            </div>
          </div>

          <button type="submit" class="btn-search">حفظ</button>
        </div>
        <div class="data-details">
          <h3 class="main-title">صور القائمة</h3>

          <div class="row">
            <div class="col-md-4">
              <h3 class="title-image">صورة القائمة 1</h3>

              <div class="choose-image choose-image-xl">
                <div class="picture">
                  <img
                    src="assets/images/tyler-nix-PQeoQdkU9jQ-1024x1024.jpg"
                    class="picture-src"
                    id="wizardPicturePreview"
                    title=""
                  />
                </div>
                <div class="select-image">
                  <p>لتحميل الصورة اضغط هنا</p>
                  <span class="camera-icon">
                    <i class="fas fa-camera"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3 class="title-image">صورة القائمة 2</h3>

              <div class="choose-image choose-image-xl">
                <div class="picture">
                  <img
                    src="assets/images/tyler-nix-PQeoQdkU9jQ-1024x1024.jpg"
                    class="picture-src"
                  />
                </div>
                <div class="select-image">
                  <p>لتحميل الصورة اضغط هنا</p>
                  <span class="camera-icon">
                    <i class="fas fa-camera"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <h3 class="title-image">صورة القائمة 3</h3>

              <div class="choose-image choose-image-xl">
                <div class="picture">
                  <img
                    src="assets/images/tyler-nix-PQeoQdkU9jQ-1024x1024.jpg"
                    class="picture-src"
                  />
                </div>
                <div class="select-image">
                  <p>لتحميل الصورة اضغط هنا</p>
                  <span class="camera-icon">
                    <i class="fas fa-camera"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn-search">حفظ</button>
        </div>
        <div class="data-details">
          <h3 class="main-title">أوقات العمل</h3>
          <div class="work-status">
            <div class="checks-radio">
              <h3 class="title-image mb-3">اختيار الأيام وأوقات العمل</h3>

              <div class="form-group">
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-e"
                    id="group-e-01"
                    class="form__radio-input"
                    checked
                  />
                  <label class="form__label-radio" for="group-e-01">
                    <span class="form__radio-button"></span> مفتوح دائماً
                  </label>
                </div>
                <div class="form__radio-group">
                  <input
                    type="radio"
                    name="group-e"
                    id="group-e-02"
                    class="form__radio-input"
                  />
                  <label class="form__label-radio" for="group-e-02">
                    <span class="form__radio-button"></span> الشيفتات
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="select-time">
            <form action="#" class="repeater">
              <div data-repeater-list>
                <button data-repeater-create type="button" class="btn-great">
                  <i class="fas fa-plus ml-2"></i>
                  إضافة ساعات عمل
                </button>

                <div data-repeater-item>
                  <div class="days">
                    <ul>
                      <li>
                        <input type="checkbox" id="check_1" />
                        <label for="check_1">السبت</label>
                      </li>
                      <li>
                        <input type="checkbox" id="check_2" />
                        <label for="check_2">الاحد</label>
                      </li>
                      <li>
                        <input type="checkbox" id="check_3" />
                        <label for="check_3">الاتنين</label>
                      </li>
                      <li>
                        <input type="checkbox" id="check_4" />
                        <label for="check_4">الثلاثاء</label>
                      </li>
                      <li>
                        <input type="checkbox" id="check_5" />
                        <label for="check_5">الاربعاء</label>
                      </li>
                      <li>
                        <input type="checkbox" id="check_6" />
                        <label for="check_6">الخميس</label>
                      </li>
                      <li>
                        <input type="checkbox" id="check_7" />
                        <label for="check_7">الجمعه</label>
                      </li>
                    </ul>
                  </div>
                  <div class="work-status">
                    <div class="checks-radio">
                      <form action="#">
                        <div class="form-group">
                          <div class="form__radio-group">
                            <input
                              type="radio"
                              name="group-f"
                              id="group-f-01"
                              class="form__radio-input"
                            />
                            <label
                              class="form__label-radio"
                              for="group-f-01"
                              class="form__radio-label"
                            >
                              <span class="form__radio-button"></span> مفتوح علي
                              مدار 24 ساعه
                            </label>
                          </div>
                          <div class="form__radio-group">
                            <input
                              type="radio"
                              name="group-f"
                              id="group-f-02"
                              class="form__radio-input"
                              checked
                            />
                            <label
                              class="form__label-radio"
                              for="group-f-02"
                              class="form__radio-label"
                            >
                              <span class="form__radio-button"></span> مفتوح في
                              أوقات محدده
                            </label>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="works-time">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group ml-4">
                          <label> وقت الفتح </label>
                          <input
                            type="text"
                            class="form-control"
                            placeholder=""
                          />
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group ml-4">
                          <label> وقت الإغلاق </label>
  
                          <input
                            type="text"
                            class="form-control"
                            placeholder=""
                          />
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <!-- <div class="row">
                      <div class="col-md-6"><div class="form-group ml-4">
                        <label> وقت الإغلاق </label>
                        <input type="text" class="form-control" placeholder="" />
                      </div> </div>
                    </div>
                     -->

                  <button data-repeater-delete type="button" class="btn-delete">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <button type="submit" class="btn-search">حفظ</button>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
