{% extends "templates/layouts/app.html" %} {% block content %} {% set page_title
= "offers" %} {% include "templates/components/header.njk" %} {% include
"templates/components/sidebar.njk" %}

<div class="main-content">
  <section class="single-order">
    <div class="row">
      <div class="col-lg-8 col-md-12">
        <div class="client-box-bigscreen">
          <div class="row">
            <div class="col-md-4 mb-3">
              <div class="client-box">
                <ul class="client-info">
                  <h5>العميل<span class="mr-2"> #4035552</span></h5>
                  <li>الاسم : <span>مني مصطفي </span></li>
                  <li>الرقم : <span>01069548715 </span></li>
                  <li>الطلبات : <span>8 </span></li>

                  <li class="status">
                    <p class="successful">
                      نجاح: <span class="client-number">7</span>
                    </p>

                    <p class="cancel">
                      ملغي:<span class="client-number">1</span>
                    </p>
                  </li>
                  <li>وقت الطلب : <span> 4-8-2021 , 01:23 </span></li>
                </ul>
                <h5 class="mt-2">ملاحظة المسؤول</h5>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="client-box">
                <ul class="client-info">
                  <h5>المحل<span class="mr-2"> #4035552</span></h5>
                  <li>الاسم : <span>مني مصطفي </span></li>
                  <li>الرقم : <span>01069548715 </span></li>
                  <li>نوع الطلب : <span>عربة التسوق </span></li>
                  <li>كود الطلب : <span>#4035552 </span></li>
                  <li>السعر : <span> 50 ج.م </span></li>
                  <li>الخصم : <span> 0 ج.م </span></li>
                </ul>
                <h5 class="mt-2">ملاحظات</h5>
              </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="client-box">
                <ul class="pilot-list">
                  <li>
                    <a class="active" href="">254</a>
                  </li>
                  <li>
                    <a href="">224</a>
                  </li>
                  <li>
                    <a href="">253</a>
                  </li>
                  <li>
                    <a href="">244</a>
                  </li>
                </ul>
                <ul class="client-info border-bottom-0">
                  <h5>المحل<span class="mr-2"> #4035552</span></h5>
                  <li>الاسم : <span>مني مصطفي </span></li>
                  <li>الرقم : <span>01069548715 </span></li>
                  <li>وقت استلام الطلب: <span>01:35 </span></li>
                  <li>وقت التسليم : <span>01:48 </span></li>
                  <li>السعر : <span> 50 ج.م </span></li>
                </ul>
                <div class="pilot-btns">
                  <button type="submit" class="btn-main">تسجيل مكافأه</button>
                  <button type="submit" class="btn-main">تسجيل خصم</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="client-box-laptop">
          <div class="row">
            <div class="col-md-6 mb-3">
              <div class="client-box">
                <ul class="client-info">
                  <h5>العميل<span class="mr-2"> #4035552</span></h5>
                  <li>الاسم : <span>مني مصطفي </span></li>
                  <li>الرقم : <span>01069548715 </span></li>
                  <li>الطلبات : <span>8 </span></li>

                  <li class="status">
                    <p class="successful">
                      نجاح: <span class="client-number">7</span>
                    </p>

                    <p class="cancel">
                      ملغي:<span class="client-number">1</span>
                    </p>
                  </li>
                  <li>وقت الطلب : <span> 4-8-2021 , 01:23 </span></li>
                </ul>
                <h5 class="mt-2">ملاحظة المسؤول</h5>
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <div class="client-box">
                <ul class="client-info">
                  <h5>المحل<span class="mr-2"> #4035552</span></h5>
                  <li>الاسم : <span>مني مصطفي </span></li>
                  <li>الرقم : <span>01069548715 </span></li>
                  <li>نوع الطلب : <span>عربة التسوق </span></li>
                  <li>كود الطلب : <span>#4035552 </span></li>
                  <li>السعر : <span> 50 ج.م </span></li>
                  <li>الخصم : <span> 0 ج.م </span></li>
                </ul>
                <h5 class="mt-2">ملاحظات</h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="client-box">
                <ul class="pilot-list">
                  <li>
                    <a class="active" href="">254</a>
                  </li>
                  <li>
                    <a href="">224</a>
                  </li>
                  <li>
                    <a href="">253</a>
                  </li>
                  <li>
                    <a href="">244</a>
                  </li>
                </ul>
                <ul class="client-info border-bottom-0">
                  <h5>المحل<span class="mr-2"> #4035552</span></h5>
                  <li>الاسم : <span>مني مصطفي </span></li>
                  <li>الرقم : <span>01069548715 </span></li>
                  <li>وقت استلام الطلب: <span>01:35 </span></li>
                  <li>وقت التسليم : <span>01:48 </span></li>
                  <li>السعر : <span> 50 ج.م </span></li>
                </ul>
                <div class="pilot-btns">
                  <button type="submit" class="btn-main">تسجيل مكافأه</button>
                  <button type="submit" class="btn-main">تسجيل خصم</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="order-infro mt-5">
            <ul class="nav nav-tabs w-100" id="myTab" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="tab-13"
                  data-toggle="tab"
                  href="#content-13"
                  role="tab"
                  aria-controls="content-13"
                  aria-selected="true"
                >
                  الفاتورة
                </a>
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="tab-14"
                  data-toggle="tab"
                  href="#content-14"
                  role="tab"
                  aria-controls="content-14"
                  aria-selected="true"
                  >سجل الطلب
                </a>
              </li>
            </ul>
          </div>

          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="content-13"
              role="tabpane-13"
              aria-lab
              elledby="tab-13"
            >
              <table
                class="table table-responsive-sm order-table"
              >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">كود الصنف</th>
                    <th scope="col">اسم الصنف</th>
                    <th scope="col">الوزن</th>
                    <th scope="col">السعر</th>
                    <th scope="col">العدد</th>
                    <th scope="col">الاجمالى</th>
                    <th scope="col">المستحق من العميل</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>#3225</td>
                    <td>رز الاسره</td>
                    <td>1كيلو</td>
                    <td>10</td>
                    <td>2</td>
                    <td>20</td>
                    <td>22</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>#3225</td>
                    <td>بيبسي</td>
                    <td>قطعة</td>
                    <td>7</td>
                    <td>1</td>
                    <td>7</td>
                    <td>8</td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>#3225</td>
                    <td>لحوم</td>
                    <td>نصف كيلو</td>
                    <td>100</td>
                    <td>2</td>
                    <td>100</td>
                    <td>110</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>#3225</td>
                    <td>لحوم</td>
                    <td>نصف كيلو</td>
                    <td>100</td>
                    <td>2</td>
                    <td>100</td>
                    <td>110</td>
                  </tr>

                  <!-- <tfoot>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>عدد الأصناف</td>
                                    <td></td>
                                    <td></td>
                                    <td>4</td>
                                    <td>-</td>
                            </tr>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>المستحق للمحل
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>127</td>
                                    <td>-</td>
                            </tr>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>المستحق من العميل
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>-</td>
                                    <td>140</td>
                            </tr>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>الخصم</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td>-</td>
                            </tr>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>تكلفه التوصيل
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td>-</td>
                                    <td>25</td>
                            </tr>
  
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>المدفوع مسيبقا</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td>-</td>
                            </tr>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
  
                                    <td>الضريبة</td>
                                    <td></td>
                                    <td></td>
                                    <td>0</td>
                                    <td>-</td>
                            </tr>
                            <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td>المطلوب الاجمالى</td>
                                    <td></td>
                                    <td></td>
                                    <td>-</td>
                                    <td>165</td>
                            </tr>
  
                    </tfoot> -->
                </tbody>
                <tfoot>
                  <tr>
                    <td class="frist-column">
                      <p>عدد الأصناف</p>
                      <p>5</p>
                    </td>
                    <td>
                      <p>المستحق للمحل</p>
                      <p>150</p>
                    </td>
                    <td>
                      <p>المستحق من العميل</p>
                      <p>185</p>
                    </td>
                    <td>
                      <p>تكلفه التوصيل</p>
                      <p>15</p>
                    </td>
                    <td>
                      <p>الضريبة</p>
                      <p>20</p>
                    </td>
                    <td>
                      <p>الخصم</p>
                      <p>0</p>
                    </td>
                    <td>
                      <p>المدفوع مسيبقا</p>
                      <p>0</p>
                    </td>
                    <td class="last-column">
                      <p>الإجمالى</p>
                      <p>220</p>
                    </td>
                  </tr>
                </tfoot>
              </table>
              <div class="options-btns status-btn">
                <button type="submit" class="btn btn-primary btn-shadow">
                  قبول الطلب
                </button>
                <button
                  type="submit"
                  class="btn btn-primary btn-shadow btn-reject"
                >
                  رفض الطلب
                </button>
              </div>
            </div>
            <div
              class="tab-pane fade show"
              id="content-14"
              role="tabpane-14"
              aria-lab
              elledby="tab-14"
            >
              <div class="accordion">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-right"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseOne"
                        aria-expanded="true"
                        aria-controls="collapseOne"
                      >
                        <i class="fas fa-caret-left rotate-icon"></i>
                        السجل
                      </button>
                    </h2>
                  </div>

                  <div
                    id="collapseOne"
                    class="collapse show"
                    aria-labelledby="headingOne"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <table class="table table-responsive-sm order-table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">محتوي</th>
                            <th scope="col">المستخدم</th>
                            <th scope="col">نوع المستخدم</th>
                            <th scope="col">التاريخ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>قبول الطلب #3225</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>قبول الطلب #3225</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>قبول الطلب #3225</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>قبول الطلب #3225</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-right collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseTwo"
                        aria-expanded="false"
                        aria-controls="collapseTwo"
                      >
                        <i class="fas fa-caret-left rotate-icon"></i>

                        التذاكر
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseTwo"
                    class="collapse"
                    aria-labelledby="headingTwo"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <table class="table table-responsive-sm order-table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">رقم الطلب</th>
                            <th scope="col">نوع التذكره</th>
                            <th scope="col">سبب التذكره</th>
                            <th scope="col">حالة</th>
                            <th scope="col">تعليق</th>
                            <th scope="col">التاريخ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>#1236548</td>
                            <td>مركز الاتصال</td>
                            <td>Hello</td>
                            <td>فتح</td>
                            <td></td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>#1236548</td>
                            <td>مركز الاتصال</td>
                            <td>Hello</td>
                            <td>فتح</td>
                            <td></td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button
                        class="btn btn-link btn-block text-right collapsed"
                        type="button"
                        data-toggle="collapse"
                        data-target="#collapseThree"
                        aria-expanded="false"
                        aria-controls="collapseThree"
                      >
                        <i class="fas fa-caret-left rotate-icon"></i>

                        الحالة
                      </button>
                    </h2>
                  </div>
                  <div
                    id="collapseThree"
                    class="collapse"
                    aria-labelledby="headingThree"
                    data-parent="#accordionExample"
                  >
                    <div class="card-body">
                      <table class="table table-responsive-sm order-table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">الحالة</th>
                            <th scope="col">المستخدم</th>
                            <th scope="col">نوع المستخدم</th>
                            <th scope="col">التاريخ</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>#طلب جديد</td>
                            <td>#28 محمد</td>
                            <td>عميل</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>

                          <tr>
                            <th scope="row">2</th>
                            <td>المحل استلم طلبك</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                          <tr>
                            <th scope="row">3</th>
                            <td>المحل استلم طلبك</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                          <tr>
                            <th scope="row">4</th>
                            <td>المحل استلم طلبك</td>
                            <td>#28 محمد</td>
                            <td>مستخدم لوحة التحكم</td>
                            <td>الخميس 4-10-2021 , 01:23</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-12">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              width="100%"
              height="800px"
              id="gmap_canvas"
              src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed"
              frameborder="0"
              scrolling="no"
              marginheight="0"
              marginwidth="0"
            ></iframe>
            <a href="https://getasearch.com/nordvpn-coupon/"></a><br />
            <style>
              .mapouter {
                position: relative;
                text-align: right;
                height: 480px;
                width: 100%;
              }
            </style>
            <a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
            <style>
              .gmap_canvas {
                overflow: hidden;
                background: none !important;
                height: 480px;
                width: 100%;
              }
            </style>
          </div>
        </div>
        <div class="options-btns">
          <div class="options-btns-bigscren">
            <div class="row">
              <div class="col-md-6">
                <div class="order-time">
                  <div class="mb-2">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="distance-calcul">من الطيار للعميل 7كم</span>
                  </div>
                  <div class="mb-2">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="distance-calcul">من الطيار للمحل 5كم</span>
                  </div>
                </div>
                <div class="order-time">
                  <h5>مده الطلب</h5>
                  <span class="actual-time">00:45:30</span>
                </div>
                <div class="order-time mb-0">
                  <h5 class="delay-time">مده التاخير</h5>
                  <span class="delay-time">00:15:30</span>
                </div>
              </div>
              <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-shadow">
                  مراسله العميل
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  ارسال اشعار العميل
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  انشاء تذكرة
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  تغير مرحله الطلب
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  اضافه ملاحظة
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  اضافه طيار
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  سجل الطلب
                </button>
              </div>
            </div>
          </div>

          <div class="options-btns-laptop">
            <div class="row">
              <div class="col-md-12 mb-3">
                <div class="order-time">
                  <div class="mb-2">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="distance-calcul">من الطيار للعميل 7كم</span>
                  </div>
                  <div class="mb-2">
                    <i class="fas fa-map-marker-alt"></i>
                    <span class="distance-calcul">من الطيار للمحل 5كم</span>
                  </div>
                </div>
                <div class="order-time">
                  <h5>مده الطلب</h5>
                  <span class="actual-time">00:45:30</span>
                </div>
                <div class="order-time mb-0">
                  <h5 class="delay-time">مده التاخير</h5>
                  <span class="delay-time">00:15:30</span>
                </div>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary btn-shadow">
                  مراسله العميل
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  ارسال اشعار العميل
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  انشاء تذكرة
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  تغير مرحله الطلب
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  اضافه ملاحظة
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  اضافه طيار
                </button>
                <button type="submit" class="btn btn-primary btn-shadow">
                  سجل الطلب
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

{% endblock %}
