<div class="header">

  {# <div class="logo-wrap">
  
  </div> #}
  <div class="header-content">
    <div class="navbar-right"></div>
    <div class="navbar-left">
      <div class="user-icons">
        <span class="user-icon ntf-icon">
          <img src="assets/images/notification.svg" alt="" />
          <ul class="ntf-menu">
            <h4>الإشعارات</h4>
            <li class="ntf-item">
              <p class="ntf-desc">
                تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا
                اطلب من سنقر ما تريد
              </p>
              <span class="ntf-time">الآن</span>
              <i class="ntf-status"></i>
            </li>
            <li class="ntf-item">
              <p class="ntf-desc">
                تم توصيل طلبك بنجاح .. نتمنى ان تكون تجربه سعيدة مع سنقر .. هيا
                اطلب من سنقر ما تريد
              </p>
              <span class="ntf-time">الآن</span>
              <i class="ntf-status"></i>
            </li>
          </ul>
        </span>
       

        <span class="user-icon user-lang">
          <img src="assets/images/order-header.svg" alt="" />
        </span>
      </div>

      <div class="user-avatar">
        <span>ENG Saad Mashal</span>
        <img src="assets/images/avatar.png" alt="" srcset="" />

        <ul class="user-menu">
          <li>
            <a href="/user-account.html">معلومات الحساب</a>
          </li>
          <li>
            <a href="/user-password.html">كلمة المرور</a>
          </li>
          <li>
            <a href="">تسجيل الخروج</a>
          </li>
        </ul>
        
      
      </div>
    </div>
  </div>

  
  
      
</div>
