<div class="main-sidebar" style="background-color: transparent; box-shadow: none;">
  <ul class="icon-menu">
    <li><img src="assets/images/logo.png" alt="" /></li>
    <li>
      <a href="#"> </a>
    </li>
    <li>
      <a href="">
        <img src="assets/images/category.svg" alt="" />
      </a>
    </li>
    <li>
      <a href=""> <img src="assets/images/order.svg" alt="" /> </a>
    </li>
    <li>
      <a href=""> <img src="assets/images/shop.svg" alt="" /> </a>
    </li>
  </ul>

 <!-- <div class="order-menu">
    <h2>الطلبات</h2>
    <ul class="main-menu">
      <li class="active">
        <a href="index.html">داشبورد الطلبات</a>
      </li>
      <li>
        <a href="#"> كل الطلبات </a>
      </li>
      <li>
        <a href="#">الطلبات الجديدة </a>
      </li>
      <li>
        <a href="order-cancel.html">الطلبات الحالية</a>
      </li>
      <li>
        <a href="#">الطلبات المتأخرة </a>
      </li>
      <li>
        <a href="#">طلب فيه مشكلة </a>
      </li>
      <li>
        <a href="#">الطلبات المستعجلة </a>
      </li>
    </ul>
  </div>  -->
</div>
